@charset "utf-8";
html, body{    
    height: 100%;
    overflow-x: hidden;
}

#wrap {
    height: 100%;
    position: relative;
}

/* header영역 */

#header {
    width: 100%;
    height: 140px;
    background-color: white;
}

.head_inner {
    width: 1168px;
    height: 140px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 106px;
    height: 96px;
    margin-top: 24px;
    /* border: 1px solid red;   */
}

/* .nav {} */

.main {
    display: flex;
    /* border: 1px solid red; */
    width: 650px;
    justify-content: flex-start;
    z-index: 100;
}

.main>li {
    position: relative;

}

.main>li>a {
    display: block;
    /* width: 140px; */
    padding-right: 100px;
    /* text-align: center; */
    height: 140px;
    line-height: 140px;
    font-size: 16px;
    font-weight: bold;
    /* border: 1px solid red; */
}

.main>li:hover>a {
    border-bottom: 3px solid goldenrod;
}

.sub {
    display: none;
    position: absolute;
    left: 0;
    top: 140px;
    z-index: 100;
}

.sub_bg {
    display: none;
    position: absolute;
    width: 1920px;
    height: 400px;
    background-color: white;
    z-index: 90;
    border-top: 2px solid rgba(128, 128, 128, 0.374);
}



/* .sub li {} */

.sub li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #555;
}

.sub li a:hover {
    text-decoration: underline;
}


.util {
    display: flex;
    height: 140px;
    align-items: center;
}

.util li {
    margin-left: 10px;
}

.util li a {
    display: block;
    width: 80px;
    height: 36px;
    border-radius: 18px;
    /* border: 1px solid blue; */
    text-align: center;
    line-height: 36px;
    color: white;
}

.util li.util_1 a {
    background-color: #db0008;
}

.util li.util_2 a {
    background-color: #d58000;
}

.util li.util_3 a {
    background-color: #274a36;
}

.util li.util_4 {
    margin-left: 30px !important;
}

.util li.util_4 a {
    display: block;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    background: url("../images/ico_search.png") no-repeat;
    background-size: 80%;
    background-position: center center;
}

/* slide_img영역 */

#slide_img {
    width: 1920px;
    margin: 0 auto;
    height: 540px;
    position: relative;
}

.veiw {
    width: 1920px;
    height: 540px;
    position: relative;
}

.move {
    width: calc(1920px * 10);
    position: absolute;
    left: 0;
    top: 0;
}

.move li {
    float: left;
    width: 1920px;
    height: 540px;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.control button {
    width: 90px;
    height: 90px;
    background: url("../images/bg_swiper_new.png") no-repeat;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
}

/* .control button.prev {} */

.control button.next {
    background-position: 0 -90px;
}

/* content 영역 */
/* .content {} */

.cont_inner {
    width: 1168px;
    margin: 0 auto;
    padding: 50px 0;
}

.L_title {
    font-size: 40px;
    margin-bottom: 30px;
}

.live_list_01 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.live_list_01 li.mb {
    width: 366px;
    height: 438px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

/* .live_list_01 .mb a {} */

.live_list_01 .mb a .list_img {
    margin-bottom: 50px;
}

.live_list_01 .mb a h4 {
    padding-left: 30px;
    list-style: 2;
}


.live_list_02 {
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;
}

.live_list_02.show {
    display: flex;
}

.live_list_02 li.mb {
    width: 366px;
    height: 438px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

/* .live_list_02 .mb a {} */

.live_list_02 .mb a .list_img {
    margin-bottom: 50px;
}

.live_list_02 .mb a h4 {
    padding-left: 30px;
    list-style: 2;
}

/* dot영역 */

/* .dot {} */

.dot a {
    display: block;
    width: 90px;
    height: 90px;
    background: url("../images/btn_more.png") no-repeat;
    text-indent: -9999px;
    margin: 0 auto;
}

.dot a.close {
    background: url("../images/btn_close.png") no-repeat;
}


/* footer영역 */
#footer {
    width: 100%;
    padding: 30px 0;
    background-color: #292929;
}

.foot_inner {
    width: 1168px;
    margin: 0 auto;
    color: white;
    overflow: hidden;

}

.f_menu {
    margin-right: 50px;
    float: left;
}

/* .f_menu li {} */

.f_menu li a {
    display: block;
    padding: 10px 0;
    font-weight: bold;
}

.f_menu li a.yellow {
    color: yellow;
}

.info {
    float: left;
}

.info li {
    padding: 10px 0;
    color: #aaa;
}

.sns {
    /* border: 1px white solid; */
    float: right;

}

.sns li {
    display: inline-block;
    margin-left: 10px;
}

.sns li a {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../images/ico_sns.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: 0 0;
}

/* li.sns_1 a {} */

li.sns_2 a {
    background-position: 0 -40px;
}

li.sns_3 a {
    background-position: 0 -80px;
}

li.sns_4 a {
    background-position: 0 -120px;
}


li.sns_5 a {
    width: 100px;
    height: 72px;
    background-image: url("../images/f_img5.png") !important;
    background-size: 100%;
}


.top {
    width: 120px;
    height: 100%;
    /* border: 1px solid black; */
    position:fixed; 
    top: 700px;
    /* right: calc(50%  -  584px - 20px - 120px); */
    left: calc(50%  +  584px + 20px );
    /* background: white; */
}
.top ul{
    position: sticky;
    bottom: 100px;

}
.top li {
    text-align: center;
    margin: 20px 0;
}


/* 1168 */